<launch>
    <node name="nmea_navsat_driver" pkg="nmea_navsat_driver" type="nmea_topic_serial_reader"
          args="_port:=/dev/ttyUSB0 _baud:=115200"/>

    <node name="rtk_gps" pkg="rtk_gps" type="rtk_gps_node" args="-m topic" output="screen"/>

    <node name="gps_mapper" pkg="rtk_gps" type="gps_mapper_node" output="screen"/>

    <node name="gps_odometry" pkg="rtk_gps" type="gps_odometry_node"/>

    <node name="map_server" pkg="map_server" type="map_saver" args="-f $(find rtk_gps)/map/test"
          respawn="true" output="screen"/>

    <node name="static_map_to_odom" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /map /odom 1"/>

    <!--    <node name="static_baselink_to_gps" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /baselink /GPS 1"/>-->

    <!--    <node name="static_baselink_to_imu" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /baselink /IMU 1"/>-->

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_gps_imu" clear_params="true">
        <rosparam command="load" file="$(find rtk_gps)/params/ekf_gps_imu.yaml"/>
    </node>

</launch>
