<?xml version="1.0"?>
<launch>
  <arg name="source_file" default="lawn.mp4" />
    <node name="image_source_video" pkg="test_pkg" exec="image_source_video.py">
        <param name="width" value="1280" />
        <param name="height" value="720" />
        <param name="frame_rate" value="15"/>
        <param name="source_file" value="$(arg source_file)"/>
    </node>

 
</launch>
